body {
    background: #121212;
    color: #eaeaea;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 1000px;
}

/* Center the button initially */
#uploadBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1b4d79;
    border: none;
    color: white;
    font-size: large;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 250px;
    height: 80px;
    transition: all 0.5s ease;
}

/* Move button to top once image is uploaded */
#uploadBtn.top-position {
    top: 20px;
    left: 20px;
    transform: none;
    position: fixed;
}

#uploadBtn:hover {
    background: #1668c5;
    height: 90px;
    width: 270px;
}

button {
    background: #103b61;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
}

button:hover {
    background: #1565c0;
    transform: scale(1.1);

}

#newWidthInput, #angleInput, #scaleInput, #txInput, #tyInput {
    width: 100px;
    padding: 8px 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 16px;
}

#newWidthInput:focus, #angleInput:focus, #scaleInput:focus, #txInput:focus, #tyInput:focus {
    outline: none;
    border-color: #555;
    /* custom focus border */
}

#newWidthInput, #angleInput, #scaleInput, #txInput, #tyInput::-webkit-inner-spin-button,
#newWidthInput, #angleInput, #scaleInput, #txInput, #tyInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#newWidthInput, #angleInput, #scaleInput, #txInput, #tyInput {
    -moz-appearance: textfield;
}

#transformSection, #angleInput, #scaleInput, #txInput, #tyInput {
    margin: 25px;
}

#transformSelect {
    padding: 8px 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#transformSelect:focus {
    outline: none;
    border-color: #555;
    box-shadow: none;
}



.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.img-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

canvas {
    border: 1px solid #444;
    border-radius: 8px;
}

.histogram-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.top-buttons {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
}

#channelGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    text-align: center;
}